.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron {
    background-color: lightgrey;
    padding: 40px;
    margin-bottom: 40px;
}

.card {
    background-color: lightgrey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    padding: 20px;
}

@media (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
    .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px; 
    }
}
